<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
            <div class="col-md-12" style="padding:0;">
                <div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
                    <div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
                        <strong>
                        	<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;">
                                    Supported :
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Enterprise
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool is compatible with the Odoo Community version">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Community
                                </strong>
                            </div>
                            <div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
                                <strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
                                    <i class="fa fa-check" style="margin-left:4px;"> </i>
                                    Odoo.sh
                                </strong>
                            </div>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Invoice Analysis Report With Discount Odoo Apps</b>
			</h2>
			<p class="oe_slogan">
				Invoice Analysis Discount Odoo App helps users to add a discount filter on invoice analysis. Users can easily enable/disable the discount filter on invoice analysis. Users can show discounts in percentage on invoice analysis.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/1_feature.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Add Discount on Invoice Analysis</b></h4>
					  <span class="oe_slogan">User can apply discount filter on customer invoice analysis.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/2_feature.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Enable/Disable Discount on Invoice Analysis</b></h4>
						<span class="oe_slogan">User can easily enable/disable discount filter on invoice analysis.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Invoice Analysis Discount Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/Z_WBvRHMq1A" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Invoice with Discount</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_discount.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Add Discount on Invoice Analysis</p>
			<p class="oe_slogan">User can easily enable/disable discount filter on invoice analysis. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_analysis.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_invoice_merge/">
					<img class="img img-responsive" src="related/bi_invoice_merge.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/import_invoice/">
					<img class="img img-responsive" src="related/import_invoice.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_auto_invoice_product_receive/">
					<img class="img img-responsive" src="related/bi_auto_invoice_product_receive.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_invoice_terms_conditions/">
					<img class="img img-responsive" src="related/bi_invoice_terms_conditions.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/sale_invoice_discount/">
					<img class="img img-responsive" src="related/sale_invoice_discount.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_invoice_tripple_approval/">
					<img class="img img-responsive" src="related/bi_invoice_tripple_approval.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/16.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="https://www.browseinfo.com" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Invoice Analysis Discount Odoo Apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Invoice Analysis Discount Odoo Apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>
